.container{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
}
table{
    margin: auto;
}
input{
    font-size: 1.7rem;
    border: .3rem solid rgb(5 52 56 / 87%);
    border-radius: 1rem;
    background: #eee;
}
button{
    font-size: 2rem;
    background-color:#73a1a1cf;
    box-shadow: 0.5rem .4rem rgba(22 26 28 / 64%) ;
    width: 5.2rem;
    border-radius: 1rem;
    height: 3.2rem;
}
button:hover{
    box-shadow: 0.5rem .4rem rgba(0, 0, 0, .4);
    width: 5.5rem;
    height: 3.5rem;
    transition: all .2s linear;
}
.calculator{
    display: inline-block;
    background-color: rgb(41, 69, 83);
    padding: 1.5rem;
    border-radius: 1rem
}